/* Estilos para Enlaces */
a.autor {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

a.autor:hover {
    color: #357ABD; /* Color similar a Dodger Blue */
    text-decoration: underline;
    transform: scale(1.1);
}

/* Efectos Hover para Navegación */
nav a:hover {
    color: #d95f02; /* Color similar a Dark Orange */
    transition: background-color 0.3s ease-in-out;
}

/* Efectos Hover para la Galería de Imágenes */
.gallery img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

/* Estilos Responsive */
@media (max-width: 600px) {
    .form-container {
        width: 100%;
        margin: 10px;
    }
}

/* Animación para transiciones de fondo */
@keyframes backgroundTransition {
    0% {
        background-image: url('../images/fondo_contenido.jpg');
    }
    33% {
        background-image: url('../images/fondo_pagina.jpg');
    }
    66% {
        background-image: url('../images/fondo_pagina.jpg');
    }
    100% {
        background-image: url('../images/fondo_contenido2.jpg');
    }
}

/* Aplicar la animación a las secciones */
.welcome-section, .login-section, .recover-section, .page-content {
    animation: backgroundTransition 15s infinite ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Efectos Hover para Galería */
.gallery img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

/* Animaciones para Elementos de Página */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes bounceIn {
    0% { transform: scale(0.3); opacity: 0; }
    50% { transform: scale(1.05); opacity: 1; }
    70% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

/* Aplicación de Animaciones */
#main-header, .header-main{
    animation: fadeIn 3s ease-in-out;
}

#mi_id {
    animation: fadeInUp 3s ease-in-out;
}

.subtitulo {
    animation: slideIn 3s ease-in-out;
}

.main-footer {
    animation: fadeInUp 3s ease-in-out;
}

/* Estilos Adicionales para Elementos */
.step {
    animation: bounceIn 1s;
}

.step:hover {
    background-color: #ffe4b5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

/* Ajuste General para Imágenes */
img {
    max-width: 100%;
}

/* Estilos para Enlaces */
.main-nav a {
    color: #dba8c6; /* Color similar a Light Pink */
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
}

.main-nav a:hover {
    color: #ff69b4; /* Color similar a Hot Pink */
    background-color: #f8f8ff; /* Color similar a Ghost White */
}
/* ============================
   Media Queries para Responsividad
============================ */
@media all and (max-width: 480px) {
    nav {
        flex-flow: column wrap;
        padding: 0;
    }
    nav a {
        padding: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.8);
    }
    .map {
        height: calc(100vh - 168px);
    }
}

@media (max-width: 768px) {
    .map-iframe, .video-frame {
        width: 100%;
        height: auto;

    }
}
