<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estudiantes</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/responsive.css">
</head>
<body>
  {{> partials/header}}
  <h1>Students</h1>
  <ul>
    {{#students}}
      <li>{{name}} - {{last_name}}
        <a href="/students/{{id}}/edit">Edit</a>
        <form action="/students/{{id}}" method="POST" style="display:inline;">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Eliminar</button>
        </form>
      </li>
    {{/students}}
  </ul>
  <h1>Edit Student</h1>
  <form id="edit-student-form" action="/students/{{id}}" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="{{name}}" required>
    </div>
    <div>
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" value="{{last_name}}" required>
    </div>
    <div>
      <label for="dni">DNI:</label>
      <input type="text" id="dni" name="dni" value="{{dni}}" required>
    </div>
    <div>
      <label for="date_of_birth">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="date_of_birth" value="{{date_of_birth}}" required>
    </div>
    <button type="submit">Update</button>
  </form>
  <script>
    document.getElementById('edit-student-form').addEventListener('submit', function(event) {
      event.preventDefault();
      // Lógica para enviar el formulario
    });
  </script>
  <a href="/logout">Logout</a>
  {{> partials/footer}}
</body>
</html>